.services {
    height: 160vh;
    width: 100vw;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

@media (max-width: 500px ) {
    .services { 
        height: 200vh;
    }
  }

 

  @media (max-width: 850px ) {
    .services {
      
      height: 200vh;
    }
  }


.s-container {
    width: 80vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

@media (max-width: 850px ) {
    .s-container {
      flex-direction: column;
      height: 140vh;
    }
  }

.awesome {
    display:flex;
    flex-direction: column;
    position: relative;
    opacity: 0;
    transform: scale(1.2);
}

.awesome-transition {
    opacity: 1;
    transform: none;
}

@media (prefers-reduced-motion: no-preference) {
    .awesome {
      transition: opacity 1.5s ease, transform 1.5s ease;
    }
  }

.awesome > :nth-child(1) {
    color: var(--second);
    font-size: 2.5rem;
    font-weight: bold;

    
}

.awesome > :nth-child(2) {
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
}

.awesome > :nth-child(3) {
    color: var(--gray);
    font-size: 14px;
    margin-top: 1rem;   
}

.s-button {
    width: 9rem;
    height: 3rem;
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

@media (max-width: 500px ) {
    .cards {
      margin-left: 0rem;
      margin-top: 3rem;
    }
  }

