

.e-link {
    color: white;
    text-decoration: none;
}

.ecards {
    
    width: 21rem;
    display: flex;
    flex-direction: column;
    background-color: var(--nu);
    border: 7px solid var(--second);
    
    border-radius: 18px;
    transition: ease-in-out 0.3s;
    

    
}

@media (max-width: 1075px ) {
    .ecards {
      width: 16rem;
    }
}

@media (max-width: 1075px ) {
    .e-bio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    gap: 2em;
    }
}  

.ecards:hover {
 
    border: 7px solid var(--green);
    
    
    
}


.e-title {
    display: flex;
    font-size: 1.5rem;
    margin: 5px;
    
}
.e-detail {
    display: flex;
    margin: 7px;
    left: 5px;
    color: var(--gray);
}



.e-icons {
    width: fit-content;
    position:relative;
    bottom: 7.5rem;
    right: 12rem;

}



.e-project {
    margin-top: 22%;
    width: auto;
    
}

.lingos {
    margin-top: 1rem;
    width: 100%;
    
    
    
}

.lingos> ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
} 

.lingos> ul> li {
    font-size: .9rem;
    font-weight: 100;
    width: 100%;
    color: rgba(238, 238, 238, 0.926);
}

.fold {
    position: absolute;
    top:-400;
}