:root
{
  --main: white;
  --second: #c13572;
  --third: #d341c9;
  --opaque: rgba(255, 0, 255, 0.8);
  --green: #affff7 ;
  --yellow: #F5C32C;
  --nu: #121212;
    --orange : #FCA61F;
    --black : #242D49;
    --gray : #788097;
    --blueCard : #DDF8FE;
    --purple: rgb(238 210 255);
    --boxShadow : 0px 19px 60px rgb(0 0 0 / 8%);
    --orangeCard: rgba(252, 166, 31, 0.45);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}

.App{
    color: white;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

*{
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font: 20px;
}
body{
margin:0;
background-color: #121212;
}

.n-wrapper {
   height: 10vh;
   width: 80vw;
   display: flex;
}

@media (max-width: 680px) {
  .n-wrapper { width: 80vw; }   /* hide it elsewhere */
}

@media (max-width: 680px) {
  .n-list > ul > li { font-size: .5em; }   /* hide it elsewhere */
}


{/*
.n-left {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 2rem;

}
*/}
.n-right {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-around;
  font-weight: 400;
  
}

@media (max-width: 680px) {
  .n-right { 
    flex:none;
    width: 100%;
  
  }   /* hide it elsewhere */
}
.n-name {
  font-size: 1.4rem;
  font-weight: bold;
}





ul{
  display: flex;
  

}
.link {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 300px) and (max-width: 680px) {
  .nav-styles { margin-right: 0; }   /* hide it elsewhere */
}

.nav-styles {
  margin-right: 4rem;
  list-style: none;
  
  
}

.abtn {
  text-decoration: none;
  color: white;
}



li:hover {
  cursor: pointer;
  color: var(--second);
}

button {
  border-radius:  34px;
  border: none;
  color: white;
  font-size:  16px;
  padding: 11px 26px 11px 26px;
  background: linear-gradient(180deg, #c13572 26.71%, #d341c9 99.36%);
  box-shadow: 0px 20px 24px 3px rgba(8, 68, 94, 0.42);
  transition: ease-in-out 0.3;
  border: solid 2px #c13572;
}

/* todo-jump */
button:hover {
  background: #8fe7df;
  cursor: pointer;
  
  
  
}

@media (max-width: 680px) {
  .nav-list{ 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
  }   /* hide it elsewhere */
}
