:root
{
  --main: white;
  --second: #c13572;
  --third: #d341c9;
  --opaque: rgba(255, 0, 255, 0.8);
  --green: #03DAC5 ;
  --yellow: #F5C32C;
  --nu: #121212;
    --orange : #FCA61F;
    --black : #242D49;
    --gray : #788097;
    --blueCard : #DDF8FE;
    --purple: rgb(238 210 255);
    --boxShadow : 0px 19px 60px rgb(0 0 0 / 8%);
    --orangeCard: rgba(252, 166, 31, 0.45);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}

.App{
    padding: 0.5rem 3.5rem;
    overflow: hidden;
    color: white;    
}

*{
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font: 20px;
}
body{
margin:0;
background-color: #121212;
}

.n-wrapper {
   height: 10vh;
   display: flex;
   
   
   
}
  

.n-left {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 2rem;

}

.n-right {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-around;
  font-weight: 400;
  
}
.n-name {
  font-size: 1.4rem;
  font-weight: bold;
}



.n-list {
  
  flex: 10;
}

.n-list > ul {
  display: flex;
  gap: 2rem;
  margin-right: 4rem;
  
  
}

ul{
  display: flex;
  

}

li {
  margin-right: 4rem;
  list-style: none;
  
  
}



li:hover {
  cursor: pointer;
  color: var(--opaque);
}

button {
  border-radius:  34px;
  border: none;
  color: white;
  font-size:  16px;
  padding: 11px 26px 11px 26px;
  background: linear-gradient(180deg, #c13572 26.71%, #d341c9 99.36%);
  box-shadow: 0px 20px 24px 3px rgba(8, 68, 94, 0.42);
  
}

/* todo-jump */
button:hover {
  background: white;
  cursor: pointer;
  color: #c13572;
  border: 1px solid #c13572;
  
}


