.exp {
    height: 70vh;
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media (max-height: 360px ) {
  .exp {
    height:300vh;
  }
} 


@media (min-width: 500px ) {
  .exp {
    height: 330vh;
  }
}

@media (max-width: 500px ) {
  .exp {
    height: 240vh;
  }
}
  @media (min-width: 850px ) {
    .exp {
      height: 250vh;
    }
  }


  @media (min-width: 970px ) {
    .exp {
      height: 90vh;
    }
  }
.econtainer {
        width: 80vw;
        height: 80vh;
        display:flex;
        flex-direction: column;
        position: relative;
}

@media (max-width: 1075px ) {
    .econtainer {
      height: 220vh;
    }
  }
.eabout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eabout {
    display: flex;
    flex-direction: column;
    align-items: center;
}




.eabout> :nth-child(1) {
        color: var(--second);
        font-size: 2.5rem;
        font-weight: bold;
        
        
}
.eabout> :nth-child(2) {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    
    
}
.eabout> :nth-child(3) {
    color: var(--gray);
    font-size: 1rem;
    font-weight: bold;
    
    
}

.e-bio {
    width: 90vw;
    display: flex;
    flex-direction: row;
    margin-top: 75px;
    justify-content: space-around;

}

@media (max-width: 1075px ) {
    .e-bio {
      flex-direction: column;
    }
  }